@import "../../variables.scss";

.custom-fleet-guru {
  &.p-overlaypanel {
    background: map-get($map: $app-theme, $key: "baseBlack");
    border: 1px solid map-get($map: $app-theme, $key: "tertiaryTangy");
    border-radius: 0px;
    margin-top: 18px;

    &:before {
      border-bottom-color: map-get($map: $app-theme, $key: "tertiaryTangy");
      border-width: 16px;
      margin-left: -16px;
    }
    &:after {
      border-bottom-color: map-get($map: $app-theme, $key: "baseBlack");
      border-width: 14px;
      margin-left: -14px;
    }

    // Fleet Guru Content Container
    .fleet-guru-container {
      margin: 0.5rem 2rem;

      .header-search {
        .gretting-msg {
          text-align: center;
          font-size: 17px;
          font-weight: 600;
          letter-spacing: 1.8px;
          color: map-get($map: $app-theme, $key: "baseFormal");
        }

        .search-bar {
          margin: 7px 0;

          .p-button,
          .p-inputtext {
            background: map-get($map: $app-theme, $key: "baseTransparentWhite") 0% 0% no-repeat
              padding-box;
            border: 1px solid map-get($map: $app-theme, $key: "baseTransparentWhite");
          }

          .p-button {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
          }

          .p-inputtext {
            color: map-get($map: $app-theme, $key: "baseWhite");
            font-size: 17px;
            font-weight: 500;
            letter-spacing: 2.2px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;

            &::placeholder {
              color: map-get($map: $app-theme, $key: "baseFormal");
              font-size: 17px;
              font-weight: 300;
              letter-spacing: 2.2px;
            }
          }
        }
      }

      .content-field {
        padding: 0.5rem 0 0 0.5rem;
        min-height: 167px;

        .contents {
          .header {
            margin-bottom: 10px;
            font-size: 22px;
            font-weight: bold;
            letter-spacing: 1.2px;
            color: map-get($map: $app-theme, $key: "baseLight");
          }

          .p-button {
            &.assistant-back-btn {
              width: 100%;
              display: flex;
              justify-content: center;
              margin-top: 1.5rem;
              background: map-get($map: $app-theme, $key: "primaryFaded");
              border: none;

              span {
                font-size: 16px;
                letter-spacing: 0.7px;
                color: map-get($map: $app-theme, $key: "baseLight");
              }

              .assistant-back-img {
                width: 28px;
                height: 30px;
                margin-left: 0.3rem;
                filter: drop-shadow(0px 3px 5px #6ff9dd6a) !important;
                transform: translate(0, 0.5rem);

                img {
                  max-width: 100%;
                  max-height: 100%;
                }
              }

              &:hover {
                background: map-get($map: $app-theme, $key: "primaryButton");
              }
            }
          }

          .topic-title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
            letter-spacing: 0.9px;
            color: map-get($map: $app-theme, $key: "baseLight");

            &:hover {
              cursor: pointer;
            }
          }
        }

        hr {
          margin: 0.8rem 0 !important;
          color: map-get($map: $app-theme, $key: "baseDimDust");
          background-color: map-get($map: $app-theme, $key: "baseDimDust");
        }

        .topic-details {
          .artical {
            .article-title {
              margin-bottom: 10px;
              font-size: 18px;
              font-weight: bold;
              letter-spacing: 1.2px;
              color: map-get($map: $app-theme, $key: "baseLight");
            }

            .article-details {
              margin-bottom: 10px;
              font-size: 16px;
              letter-spacing: 0.9px;
              color: map-get($map: $app-theme, $key: "baseLight");
              text-align: justify;
              text-justify: inter-ideograph;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .custom-fleet-guru {
    &.p-overlaypanel {
      .fleet-guru-container {
        margin: 0.5rem 0;
      }
    }
  }
}
