@import "../../variables.scss";

.chart-card-container {
  height: 100%;
  background: map-get($map: $app-theme, $key: "primaryDarkShadow60") 0% 0% no-repeat padding-box;
  padding-left: 15px;
  padding-right: 15px;
}

.chart-card-title {
  font-size: 22px;
}

.chart-card-subtitle {
  font-size: 18px;
}

.chart-card-detail {
  font-size: 11px;
}

.fleet-card {
  border: none;
  border-radius: 5px;
  background: rgb(0 0 0 / 20%);
  box-shadow: 0px 13px 25px map-get($map: $app-theme, $key: "baseBoxShadow");
  padding: 0.75rem;
}

.fleet-card-title {
  margin-left: 24px;
  margin-right: 16px;
  height: 50px;
  color: map-get($map: $app-theme, $key: "baseWhite");
}

.gauge-chart {
  width: 100%;
  height: 310px;
}

.chartCard-flexbox {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.chartcard-dropdown {
  .p-dropdown-label {
    font-size: 14px !important;

    &.p-inputtext {
      padding: 0.25rem 0.5rem;
    }
  }
}

@media only screen and (max-width: 1450px) {
  .chart-card-title {
    font-size: 18px;
  }
  .chart-card-description {
    font-size: 14px;
  }
  .gauge-chart {
    margin: auto;
  }
}

@media only screen and (min-width: 2320px) {
  .gauge-chart {
    padding: 0 60px;
  }
}

@media only screen and (min-width: 2320px) {
  .gauge-chart {
    padding: 0 60px;
  }
}

@media only screen and (max-width: 768px) {
  .gauge-chart {
    padding: 0 60px;
  }
  .fleet-card-title {
    height: 51px;
  }
}
