
@import "../variables.scss";

.report-new-incident-form {
  .disposal-warning-msg {
    font-size: 15px !important;
  }
  .shadow-none.p-mt-3.p-p-2 {
    font-size: 1.1rem;
    background: transparent !important;
    button {
      border: none;
      margin-left: 1em;
      background: map-get($map: $app-theme, $key: "primaryFaded") 0% 0% no-repeat padding-box;
      box-shadow: 0px 8px 24px map-get($map: $app-theme, $key: "baseBoxShadowSec");
      border-radius: 6px;
      letter-spacing: 1.1px;
      color: map-get($map: $app-theme, $key: "baseWhite");
      font-weight: 600;
      &:hover {
        background: map-get($map: $app-theme, $key: "primaryButton") 0% 0% no-repeat padding-box;
        box-shadow: 0px 8px 24px map-get($map: $app-theme, $key: "baseBoxShadowSec");
      }
    }
  }
}



@media screen and (max-width: 625px) {
  .report-new-incident-form {
    h3 {
      font-size: 20px;
      margin-top: 1rem;
    }
    .disposal-warning-msg {
      font-size: 16px !important;
    }
    .shadow-none.p-mt-3.p-p-2 {
      background: transparent !important;
      button {
        width: 100%;
        margin: 1rem 0 0 0;
      }
    }
  }
}