@import "../variables.scss";

.sidebar-dialog {
  width: 25vw;
  
  .p-dialog-title {
    display: flex;
    align-items: center;
    margin-top: 0.5vw;
    margin-left: 1.3vw;
    font-size: 2rem !important;
  
    img {
      width: 3rem;
      height: 3rem;
      margin-right: 1rem;
    }
  }

  .options {
    padding: 1.3vw;
        
    span {
      font-size: 1.6rem;
      font-weight: 200;
      letter-spacing: 1.2px;
      color: map-get($map: $app-theme, $key: "baseWhite");
    }
        
    .p-button {
      width: 100%;
      padding: 0 0;
    
      &.p-button-link {
        color: map-get($map: $app-theme, $key: "baseWhite") !important;
      }
            
      .pi-angle-right {
        font-size: 2rem;
      }
    }
        
    hr {
      border-top: 1px solid map-get($map: $app-theme, $key: "baseDimDust");
    }
  }

  .p-dialog-footer {
    font-weight: 200;
  }
}

// ========================= MOBILE STYLING ================================
@media only screen and (max-width: 991px) {
  .custom-main-dialog {
    &.sidebar-dialog {
      bottom: unset;
      position: inherit;
      height: 80vh;
      left: unset !important;
      margin: 0 !important;
      border-radius: 0 !important;
      background-color: rgba(0, 0, 0, 0.4) !important;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);

      .p-dialog-header {
        background-color: transparent !important;
        padding: 0.8rem;
        .p-dialog-title {
          margin-top: 14vh;
          img {
            width: 2rem;
            height: 2rem;
          }
        }
      }
      .p-dialog-content {
        background-color: transparent !important;
        flex-grow: 0;
        padding: 1rem;
        .options {
          padding: 0.5vw;
          span {
            font-size: 1.4rem;
          }
          hr {
            border-top: 1px solid rgba(255,255,255,0.5);
          }
        }
      }
      .p-dialog-footer {
        margin-top: 1rem;
        background-color: transparent !important;
        font-weight: 200;
      }
    }
  }
}
