@import "../../variables.scss";

.transfer-map-header {
  .p-button {
    box-shadow: 0px 8px 24px map-get($map: $app-theme, $key: "baseBoxShadow");
    border: 1px solid map-get($map: $app-theme, $key: "baseFormal") !important;
    border-radius: 0px !important;
    letter-spacing: 2.0px;
    color: map-get($map: $app-theme, $key: "baseFormal");
    background: transparent;
    margin: 0 0.3em;
    font-size: 1.1rem;
  }
  .p-highlight {
    background: map-get($map: $app-theme, $key: "primaryButton") !important;
    border: 1px solid map-get($map: $app-theme, $key: "primaryButton") !important;
    font-weight: 600;
  }
}
.transfer-map-card {
  background: map-get($map: $app-theme, $key: "baseBlackTransparent");
  border: 1px solid map-get($map: $app-theme, $key: "primaryElectricDark");
  border-radius: 2px;
}

@media screen and (max-width: 545px) {
  .transfer-map-header {
    .p-button {
      font-weight: 600;
      letter-spacing: 1.5px;
      font-size: 15px;
      padding: 0.5rem 0.7rem;
    }
  }
}

@media screen and (max-width: 440px) {
  .transfer-map-header {
    .p-button {
      font-weight: 300;
      letter-spacing: 0.4px;
      font-size: 13px;
      padding: 0.3rem 0.4rem;
      border: 1px solid map-get($map: $app-theme, $key: "baseFormal") !important;
      border-radius: 0px !important;
    }
    .p-highlight {
      background: map-get($map: $app-theme, $key: "primaryButton") !important;
      border: 1px solid map-get($map: $app-theme, $key: "primaryButton") !important;
    }
  }
}