@import "../variables.scss";

.asset-action-container {
  background: map-get($map: $app-theme, $key: "primaryDark");
  box-shadow: 0px 13px 25px map-get($map: $app-theme, $key: "baseBoxShadow");
  border: 2px solid map-get($map: $app-theme, $key: "primaryElectricDark");
  border-radius: 3px;
  padding: 2em 2em;

  hr {
    margin: 8px 0 !important;
    color: map-get($map: $app-theme, $key: "baseDimDust");
    background-color: map-get($map: $app-theme, $key: "baseDimDust");
  }

  .header {
    h3 {
      color: map-get($map: $app-theme, $key: "baseFormal");
      letter-spacing: 1.6px;
      font-weight: 600;
    }
  }

  .options {
    .p-button {
      width: 100%;
      padding: 0 0;
      span {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1.2px;
        color: map-get($map: $app-theme, $key: "baseFormal");
      }
      &.p-button-link {
        color: map-get($map: $app-theme, $key: "baseFormal") !important;
      }
    }

    .p-button:hover {
      span {
        color: map-get($map: $app-theme, $key: "baseWhite");
      }
      &.p-button-link {
        color: map-get($map: $app-theme, $key: "baseWhite") !important;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .header {
    h3 {
      color: map-get($map: $app-theme, $key: "baseDimDust") !important;
      letter-spacing: 1px;
      font-size: 20px;
      font-weight: bold;
    }
  }

  .options {
    .p-button {
      span {
        font-size: 16px !important;
        font-weight: 600;
        letter-spacing: 0.8px;
        color: map-get($map: $app-theme, $key: "baseFormal");
      }
      &.p-button-link {
        color: map-get($map: $app-theme, $key: "baseFormal") !important;
      }
    }

    .p-button:hover {
      span {
        color: map-get($map: $app-theme, $key: "baseWhite");
      }
      &.p-button-link {
        color: map-get($map: $app-theme, $key: "baseWhite") !important;
      }
    }
  }
}
