@import "../../styles/variables.scss";

.profile-card {
  color: white;
  min-height: 32vh;
  background-color: whitesmoke;
}

.profile-list {
  list-style-type: none;
  padding: 0;
}
.profile-item {
  padding: 0 0 10px 0;
  font-size: 1em;
}

.change-settings {
  width: 100%;
  text-align: start;
}

.change-button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.change-button:active {
  transform: scale(0.99);
}

.button-icon {
  height: 1.2em;
  width: 1.2em;
  margin-right: 8px;
}

.btn-default, .btn-enable {
  background: transparent !important;
  box-shadow: 0px 13px 25px #00000029;
  border: 1px solid #686969;
  color: #686969;
  width: auto !important;
}

.btn-default:hover {
  border:solid 1px #953991 !important;
}

.p-togglebutton.p-button.p-highlight {
  background: #953991 ;
  border-color: #953991 ;
  color: #ffffff;
}

.btn-enable:hover {
background: #953991!important;
border:#953991 !important;
}

.btn-enable:focus {
background: #953991 !important;
border:#953991 !important;
}

.p-togglebutton.p-button {
background: none;
box-shadow: 0px 13px 25px #00000029;
border: 1px solid #686969;
color: #686969;
// transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.pi-times {
transition: all 300ms;
}

.p-togglebutton.p-button:hover{
background: #953991 !important;
border:#953991;
color: #ffffff !important;
& .pi-times {
  background-color: #953991 !important;
  color: #ffffff !important;
}
}

.profile-user-info-avatar {
  border: 4px solid #ffffff;
  border-radius: 50%;
  width: 100%;
  overflow: hidden;

  .profile-user-info-avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.profile-user-info-avatar:before {
	content: "";
	float: left;
	padding-top: 100%;
}
