@import "../variables.scss";

.aggregate-cost-container {
  .date-search-container {
    margin: 2rem 0;
    gap: 1rem;
    &.custom-bp {
      &-xl {
        width: 50%;
      }
      &-lg {
        width: 75%;
      }
      &-md {
        width: 100%;
      }
      &-sm {
        display: grid;
        gap: 0;
      }
    }

    .form-select-date {
      padding-left: 0;
      flex: 1;
      .select-date-title {
        background: map-get($map: $app-theme, $key: "primaryButton");
        height: 100%;
        padding: 0 1rem;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        display: flex;
        align-items: center;

        span {
          font-size: 14px;
          font-weight: bold;
          letter-spacing: 2.2px;
          color: map-get($map: $app-theme, $key: "baseLightWhite");
        }
      }
      .custom-datepicker {
        flex-grow: 1;
        .cal {
          .p-inputtext {
            border-radius: 0;
            font-size: 14px;
          }
        }
      }
    }
  }
}
