@import "../variables.scss";

.asset-details-left {
  position: relative;
  z-index: 100;
  &:before {
    content: "";
    position: absolute;
    background-color: map-get($map: $app-theme, $key: "primaryElectric");
    width: 5%;
    height: 2px;
    bottom: 0;
    left: 0;
    border-radius: 5px;
  }
  &:after {
    content: "";
    position: absolute;
    background-color: map-get($map: $app-theme, $key: "primaryDark");
    width: 2px;
    height: 50%;
    bottom: 0;
    right: 0;
    border-radius: 5px;
  }

  .asset-details-left-title {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 0.25rem;
    h1 {
      letter-spacing: 2.5px;
    }
    h4 {
      letter-spacing: 3.75px;
    }
  }
}

.custom-asset-detail-view {
  border: 1px solid map-get($map: $app-theme, $key: "primaryElectric");
  .asset-details-table {
    letter-spacing: 0.9px;
  }

  h3 {
    letter-spacing: 1.15px;
  }

  // Asset Details Dialog styles
  .p-dialog-header-icons {
    background: map-get($map: $app-theme, $key: "baseWhite");
    border-radius: 50%;

    .p-dialog-header-close-icon {
      color: map-get($map: $app-theme, $key: "primaryDark");
    }
  }

  .p-dialog-header {
    background: map-get($map: $app-theme, $key: "baseGreyBlack");
    color: map-get($map: $app-theme, $key: "baseWhite") !important;
    letter-spacing: 1.6px;

    h4 {
      color: map-get($map: $app-theme, $key: "baseFormal") !important;
      letter-spacing: 1.15px;
    }
  }
  .p-dialog-content {
    background: map-get($map: $app-theme, $key: "baseGreyBlack");
    color: map-get($map: $app-theme, $key: "baseWhite") !important;

    a {
      color: map-get($map: $app-theme, $key: "baseWhite") !important;
    }

    .p-button-label {
      font-weight: bold;
    }
  }
  .p-dialog-footer {
    background: map-get($map: $app-theme, $key: "baseGreyBlack");
    color: map-get($map: $app-theme, $key: "baseWhite") !important;
    text-align: center;

    button {
      margin: 0;
    }

    .p-button.p-button-link {
      color: map-get($map: $app-theme, $key: "baseWhite");
      text-decoration: underline;
      letter-spacing: 1.8px;
    }
  }

  // Asset Details non-Dialog styles
  &.asset-details-card {
    border-bottom: none !important;
    height: 75vh;
    overflow-y: scroll;
    background: map-get($map: $app-theme, $key: "primaryVeryDark");
    color: map-get($map: $app-theme, $key: "baseWhite");
    border: 2px solid map-get($map: $app-theme, $key: "primaryElectric");
    border-radius: 3px;

    ::-webkit-scrollbar-thumb {
      background: map-get($map: $app-theme, $key: "baseLightGrey");
    }

    .asset-details-card-header {
      h2 {
        letter-spacing: 1.6px;
      }
      h4 {
        letter-spacing: 1.15px;
      }
    }

    .asset-details-card-btn {
      .update-detail-btn {
        background: transparent;
        border: 1px solid map-get($map: $app-theme, $key: "primaryButton");

        &:hover {
          background: map-get($map: $app-theme, $key: "primaryButton");
          border: 1px solid map-get($map: $app-theme, $key: "primaryButton");
        }
      }

      .transfer-btn {
        background: map-get($map: $app-theme, $key: "secondaryDark");
        border: 1px solid map-get($map: $app-theme, $key: "secondaryDark");

        &:hover {
          background: map-get($map: $app-theme, $key: "secondary");
          border: 1px solid map-get($map: $app-theme, $key: "secondary");
        }
      }

      .dispose-btn {
        background: map-get($map: $app-theme, $key: "secondaryDynamicDark");
        border: 1px solid map-get($map: $app-theme, $key: "secondaryDynamicDark");
        color: black;

        &:hover {
          background: map-get($map: $app-theme, $key: "secondaryDynamic");
          border: 1px solid map-get($map: $app-theme, $key: "secondaryDynamic");
        }
      }
    }
  }

  hr {
    margin: 8px 0 !important;
    color: map-get($map: $app-theme, $key: "baseDimDust");
    background-color: map-get($map: $app-theme, $key: "baseDimDust");
  }

  .left-title-section,
  .right-value-section {
    font-size: 16px !important;
    max-width: 50%;
  }

  .right-value-section {
    font-size: 16px !important;
    max-width: 50%;
  }

  .detail-action-color {
    .p-button {
      background: map-get($map: $app-theme, $key: "primaryButton");
      border: map-get($map: $app-theme, $key: "primaryButton");
    }
  }

  .asset-details-btns {
    .p-button {
      margin-top: 4px;
      color: map-get($map: $app-theme, $key: "baseFormal");
      letter-spacing: 0.9px;
      background: transparent;
      box-shadow: 0px 0px 10px map-get($map: $app-theme, $key: "baseBoxShadow");
      border: 1px solid map-get($map: $app-theme, $key: "baseDimDust");
      border-radius: 6px;
    }

    .p-button:hover {
      color: map-get($map: $app-theme, $key: "baseLightWhite");
      background: map-get($map: $app-theme, $key: "primaryButton");
      box-shadow: 0px 8px 24px map-get($map: $app-theme, $key: "baseBoxShadow");
      border: 1px solid map-get($map: $app-theme, $key: "primaryButton");
      border-radius: 6px;
    }
  }
}
