@import "../variables.scss";

.asset-details-more {
  color: map-get($map: $app-theme, $key: "baseWhite");
  position: relative;
  &:before {
    z-index: 10;
    content: "";
    position: absolute;
    bottom: 50%;
    left: -50px;
    width: 50px;
    height: 2px;
    background-color: map-get($map: $app-theme, $key: "primaryElectric");
  }
  hr {
    margin: 8px 0 !important;
    color: map-get($map: $app-theme, $key: "baseDimDust");
    background-color: map-get($map: $app-theme, $key: "baseDimDust");
  }

  .asset-details-more-btn {
    height: 10vh;
    margin-bottom: 0.25rem;
    .asset-mng-btn {
      .p-button {
        padding: 0 0;
        color: map-get($map: $app-theme, $key: "baseFormal");
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 1.3px;

        .p-button-label {
          text-decoration: underline;
        }
      }

      .p-button:hover {
        color: map-get($map: $app-theme, $key: "baseWhite");
      }
    }
  }

  .asset-details-more-body {
    height: 75vh;
    background: map-get($map: $app-theme, $key: "primaryDarkShadow50");
    border: 2px solid map-get($map: $app-theme, $key: "primaryElectric");
    border-radius: 3px;
    padding: 2em 2em;
    overflow-y: scroll;

    ::-webkit-scrollbar-thumb {
      background: map-get($map: $app-theme, $key: "baseLightGrey");
    }

    .header {
      .order-asset-btn {
        .p-button {
          background: map-get($map: $app-theme, $key: "primaryElectric");
          border: 1px solid map-get($map: $app-theme, $key: "primaryElectric");
          letter-spacing: 1.4px;
        }
      }
    }

    .body {
      .options {
        .p-button {
          width: 100%;
          padding: 0 0;
          span {
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 1.2px;
            color: map-get($map: $app-theme, $key: "baseWhite");
          }
          &.p-button-link {
            color: map-get($map: $app-theme, $key: "baseWhite") !important;
          }
        }
      }

      .section-body {
        .back-btn {
          .p-button {
            padding: 0 0;
            color: map-get($map: $app-theme, $key: "baseWhite");
          }
        }

        h5 {
          font-size: 20px;
          font-weight: 500;
          letter-spacing: 1.2px;
        }

        .section-table {
          border: 1px solid map-get($map: $app-theme, $key: "baseTransparentWhite");
          border-radius: 5px;
        }

        .view-more-details {
          border: 2px solid map-get($map: $app-theme, $key: "baseDust");
          border-radius: 3px;
        }

        .downtime-container {
          border: 2px solid map-get($map: $app-theme, $key: "primaryElectric");
          border-radius: 3px;
        }

        .linked-asset-container {
          .add-asset {
            min-height: 400px;
            margin: 1rem;

            .close-btn {
              h5 {
                margin-bottom: 0;
              }
              .p-button {
                background: map-get($map: $app-theme, $key: "baseLight");
                border: 1px solid map-get($map: $app-theme, $key: "baseLight");
                border-radius: 50%;
                width: 30px;
                height: 30px;
              }
              .pi-times {
                color: map-get($map: $app-theme, $key: "primaryDark");
              }
            }

            .add-assets-form {
              .add-assets-q {
                .label-container {
                  width: 250px;
                  label {
                    margin: 0;
                    font-weight: 500;
                    letter-spacing: 1.3px;
                  }
                }

                .input-container {
                  flex: 1;
                  .darkRadio {
                    label {
                      font-size: 18px;
                    }
                  }

                  .VIN {
                    .card {
                      margin: 0 !important;
                      padding: 0 !important;
                      height: 37px;
                    }
                    .p-component {
                      font-size: 17px !important;
                      .p-inputtext {
                        height: unset;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        label {
          color: map-get($map: $app-theme, $key: "baseWhite");
        }

        .p-tabview {
          .p-tabview-nav {
            justify-content: flex-start;
          }

          .p-field {
            margin: auto !important;

            .form-group {
              margin-bottom: 0rem;

              .p-dropdown-label {
                text-transform: capitalize;
              }
            }

            .btn-5 {
              width: 100%;
              margin-top: 1rem;

              button {
                width: 100%;
              }
            }
          }

          &.darkSubTab-2 {
            .p-tabview-title {
              font-size: 1rem;
              line-height: 2rem;
            }
          }
        }
      }

      .asset-details-log-tab {
        .timeline {
          background: map-get($map: $app-theme, $key: "baseBlackTransparent");
          border-radius: 6px;
          height: 49vh;
          overflow-y: scroll;

          ::-webkit-scrollbar-thumb {
            background: map-get($map: $app-theme, $key: "tertiaryTangy");
          }

          .p-togglebutton.p-button {
            background: transparent;
            border-color: map-get($map: $app-theme, $key: "baseDimDust");
            color: map-get($map: $app-theme, $key: "baseWhite");
          }

          .p-togglebutton.p-button:hover {
            background: map-get($map: $app-theme, $key: "primaryFaded");
            border-color: map-get($map: $app-theme, $key: "primaryFaded");
            color: map-get($map: $app-theme, $key: "baseWhite");
          }

          .p-highlight {
            background: map-get($map: $app-theme, $key: "primaryButton") !important;
            border-color: map-get($map: $app-theme, $key: "primaryButton") !important;
          }
        }

        .add-comment {
          margin: 1rem 2.5rem 1.5rem 2.5rem;
          padding: 1rem 1rem;
          background-color: map-get($map: $app-theme, $key: "primaryGreen");
          border-radius: 6px;

          h4 {
            letter-spacing: 2.2px;
          }

          .asset-details-log {
            width: 100%;
            padding-right: 10px;

            .p-inputtext {
              width: 100%;
              height: 40px;
              color: white;
              letter-spacing: 1.8px;
              background: map-get($map: $app-theme, $key: "baseTransparentWhite");
              box-shadow: 0px 13px 15px map-get($map: $app-theme, $key: "primaryGreen");
              border: none;
            }
          }

          .asset-details-log-btn {
            .p-button {
              width: 100%;
              height: 40px;
              color: map-get($map: $app-theme, $key: "baseLightWhite");
              background: map-get($map: $app-theme, $key: "primaryButton") 0% 0% no-repeat
                padding-box;
              box-shadow: 0px 8px 24px map-get($map: $app-theme, $key: "baseBoxShadow");
              border-radius: 6px;
              border: 1px solid map-get($map: $app-theme, $key: "primaryButton");
              border-radius: 6px;

              &.p-disabled {
                color: map-get($map: $app-theme, $key: "baseLightDust");
                background: map-get($map: $app-theme, $key: "baseTransparentWhite") 0% 0% no-repeat
                  padding-box;
                border: 1px solid map-get($map: $app-theme, $key: "baseTransparentWhite");
              }
            }

            .p-button:hover {
              color: map-get($map: $app-theme, $key: "baseLightWhite");
              background: map-get($map: $app-theme, $key: "primaryFaded");
              box-shadow: 0px 8px 24px map-get($map: $app-theme, $key: "baseBoxShadow");
              border: 1px solid map-get($map: $app-theme, $key: "primaryFaded");
              border-radius: 6px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .asset-details-more {
    &:before {
      z-index: 0;
      content: "";
      position: unset;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      background-color: transparent !important;
    }
  }
}
