@import "../variables.scss";

.document-upload {
  .tab-title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.2px;
    color: map-get($map: $app-theme, $key: "baseWhite");
    margin: 1rem 0 0.5rem 0;
  }

  .p-tabview {
    .p-tabview-nav {
      &::before {
        content: none !important;
      }
    }
  }

  .upload-form {
    width: 75%;

    .card {
      padding: 0.75rem 1rem;
      overflow: auto;

      .form-q {
        font-size: 17px;
        font-weight: bold;
        letter-spacing: 2.4px;
        color: map-get($map: $app-theme, $key: "baseWhite");
      }

      .input-files-container {
        .custom-file-label {
          font-size: 18px;
        }
      }

      .custom-datepicker {
        .cal .p-inputtext {
          border: 2px solid map-get($map: $app-theme, $key: "baseTransparentWhiteLight");
        }
      }
    }
  }

  .document-history {
    .custom-select-btn {
      .p-button {
        background: transparent;
        border: 1px solid map-get($map: $app-theme, $key: "primaryElectric");
        border-radius: 3px;
        margin-right: 7px;

        .p-button-label {
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 1.2px;
          color: map-get($map: $app-theme, $key: "primaryElectric");
        }

        &:hover {
          background: map-get($map: $app-theme, $key: "primaryShade");
          border: 1px solid map-get($map: $app-theme, $key: "primaryElectric");
        }

        &.p-highlight {
          background: map-get($map: $app-theme, $key: "tertiaryTangyShade");
          border: 1px solid map-get($map: $app-theme, $key: "tertiaryTangy");

          .p-button-label {
            color: map-get($map: $app-theme, $key: "tertiaryTangy");
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .document-upload {
    .upload-form {
      width: 90%;
    }
  }
}

@media screen and (max-width: 400px) {
  .document-upload {
    .document-history {
      .custom-select-btn {
        .p-button {
          margin-right: 6px !important;
        }
      }
    }
  }
}