@import "../../variables.scss";

.fleetguru-son {
  margin-left: auto !important;
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid map-get($map: $app-theme, $key: "primaryElectric");
  margin-right: 3em;
  background-image: url("../../../images/background/topbar_robot_bg.png");
  background-size: cover;
  position: fixed;
  top: 0.5rem;
  right: 55rem;

  &.son-show {
    img {
      height: 3rem;
      width: 3rem;
    }
  }
  &.son-hide {
    display: none;
  }
}

.assistant-card {
  width: 510px;
  padding: 0.5rem 0.5rem;
  position: static;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  transform: scale(1);
  -webkit-transform: scale(1);
  transform-origin: 50% 50%;
  z-index: 1001;
  transition: webkit-transform 0.3s;
  transition: transform 0.3s;
  background: map-get($map: $app-theme, $key: "primaryAssistant");
  box-shadow: 0px 0px 15px map-get($map: $app-theme, $key: "baseDimDust");
  border-left: 6px solid map-get($map: $app-theme, $key: "tertiaryTangy");
  color: map-get($map: $app-theme, $key: "baseFormal");
  margin: auto auto auto auto;

  &-reverse-1,
  &-2,
  &-reverse-2,
  &-3,
  &-reverse-3,
  &-4,
  &-reverse-4,
  &-5 {
    position: relative;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  &-1, &-reverse-1 {
    margin: auto auto auto auto;
  }

  &-reverse-1 {
    animation-name: reverse-move1;
  }

  @keyframes reverse-move1 {
    0% {top: 0; left: -30vw}
    100% {top: 0; left: 0}
  }

  &-2, &-reverse-2 {
    margin: auto auto auto 1rem;
  }

  &-2 {
    animation-name: move2;
  }

  &-reverse-2 {
    animation-name: reverse-move2;
  }

  @keyframes move2 {
    0% {top: 0; left: 33vw}
    100% {top: 0; left: 0}
  }

  @keyframes reverse-move2 {
    0% {top: 30vh; left: 0}
    100% {top: 0; left: 0}
  }

  &-3, &-reverse-3 {
    margin: auto auto 10px 2rem;
  }

  &-3 {
    animation-name: move3;
  }

  &-reverse-3 {
    animation-name: reverse-move3;
  }

  @keyframes move3 {
    0% {top: -20vh; left: 0}
    100% {top: 0; left: 0}
  }

  @keyframes reverse-move3 {
    0% {top: -50vh; left: 58vw}
    100% {top: 0; left: 0}
  }

  &-4, &-reverse-4 {
    margin: 2rem 3rem auto auto;
  }

  &-4 {
    animation-name: move4;
  }

  &-reverse-4 {
    animation-name: reverse-move4;
  }

  @keyframes move4 {
    0% {top: 40vh; left: -58vw}
    100% {top: 0; left: 0}
  }

  @keyframes reverse-move4 {
    0% {top: 0; left: -25vw}
    100% {top: 0; left: 0}
  }

  &-5 {
    margin: 70px 42rem auto auto;
    animation-name: move5;
  }

  @keyframes move5 {
    0% {top: 0; left: 25vw}
    100% {top: 0; left: 0}
  }

  .assistant-header {
    margin-bottom: 0.5rem;
    .p-button {
      width: 2.1rem;
      height: 2.1rem;
      border-radius: 50%;
      background: map-get($map: $app-theme, $key: "baseLight");
      border: 1px solid map-get($map: $app-theme, $key: "baseLight");

      .pi {
        color: map-get($map: $app-theme, $key: "primaryAssistant");
      }
    }
  }

  .assistant-content {
    .fleet-guru-img {
      padding: 0 1rem;
      img {
        width: 157px;
        height: 260px;
        object-fit: contain;
      }
    }

    .content-details {
      padding: 0 3rem 0 1rem;
      .title {
        font-size: 28px;
        font-weight: bold;
        letter-spacing: 2.8px;
        color: map-get($map: $app-theme, $key: "baseFormal");
        text-align: left;
      }
      .content {
        font-size: 18px;
        letter-spacing: 0.8px;
        line-height: 1.8;
        color: map-get($map: $app-theme, $key: "baseFormal");
        text-align: left;
        margin-bottom: 1.5rem;
      }
    }
  }

  .assistant-dot-btn {
    margin: 0 auto;
    padding-left: 150px;
    .dot-btn {
      margin-right: 1.5rem;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      border: 1px solid map-get($map: $app-theme, $key: "baseLightDust");
      cursor: pointer;

      &-active {
        background: map-get($map: $app-theme, $key: "baseLightDust");
      }
    }
  }

  .assistant-footer {
    margin: 1.5rem 1rem 0.5rem 1rem;
    .p-button {
      padding: 5px 5px;
      background: transparent;
      letter-spacing: 3.2px;
      color: map-get($map: $app-theme, $key: "tertiaryTangy");
      font-size: 1.2rem;
      font-weight: 700;
      border-radius: 0px;
      border: none;

      &:hover {
        background: map-get($map: $app-theme, $key: "tertiaryTangyShade") 0% 0% no-repeat padding-box !important;
        color: map-get($map: $app-theme, $key: "tertiaryTangy");
      }
    }
  }
}

@media screen and (max-height: 794px) {
  .assistant-card {
    @keyframes reverse-move1 {
      0% {top: 0; left: -20vw}
      100% {top: 0; left: 0}
    }
  }
}