@import "../variables.scss";

.schedule-maintenance-form-container {
  background: transparent;

  .fleet-guru {
    margin-top: 4rem;

    .topbar-son {
      margin-right: 1.5em;

      img {
        height: 10rem;
        width: 7.2rem;
        transform: translate(0px, -7px);
      }
    }
    .cardWid {
      margin-bottom: 0 !important;
      flex-grow: 1;
    }
  }
  &-title {
    color: white;
    letter-spacing: 2.4px;
  }
  .FORMDROP {
    width: 100%;
    .col-12 {
      padding: 0;
    }
  }
  .p-radiobutton-box {
    background-color: transparent;
    box-shadow: none;
    &:hover {
      border: 2px solid map-get($map: $app-theme, $key: "baseWhite") !important;
    }
  }
  .p-focus {
    box-shadow: none !important;
  }
  .p-highlight {
    border: 2px solid map-get($map: $app-theme, $key: "baseWhite") !important;
    background-color: transparent !important;
    box-shadow: 0px 0px 25px map-get($map: $app-theme, $key: "primaryElectric") !important;
  }
}
.button-box{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
}

.vin-cell{
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 769px) {
  .schedule-maintenance-form-container {
    .fleet-guru {
      margin-top: 1rem;

      .topbar-son {
        margin-right: 1em;

        img {
          height: 8rem;
          width: 5.6rem;
        }
      }
    }
  }
}
