@import "../variables.scss";

.search-configure-check {
  display: flex;
  flex-direction: row;

  .search-container {
    flex-grow: 1;
    padding-right: 10px;
  }

  .configure-container {
    padding-top: 0.5rem;

    .p-button {
      height: 47px;
      font-size: 17px;
      letter-spacing: 1.5px;
      background: transparent;
      border: 1px solid map-get($map: $app-theme, $key: "baseDimDust");
    }
  }
}

//Configure Dialog Styling
.custom-main-dialog {
  &.configure-checks-dialog {
    hr {
      margin-top: 25px;
      color: map-get($map: $app-theme, $key: "baseDimDust");
      background-color: map-get($map: $app-theme, $key: "baseDimDust");
    }

    .check-items-form {
      width: 100%;

      .check-items-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .check-item {
          width: 50%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .switch-container {
            margin-right: 1.5rem;
          }
        }
      }
    }

    //for button in table.js, couldn't get working correctly so scuffed solution :p
    .button {
      background: transparent;
      letter-spacing: 1.8px;
      color: map-get($map: $app-theme, $key: "baseLight");
      transition: 0.5s;
      border-color: white;
  
      &:hover {
        color: map-get($map: $app-theme, $key: "primary");
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .custom-main-dialog {
    &.configure-checks-dialog {
      .check-items-form {
        .check-items-list {  
          .check-item {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .search-configure-check {
    .configure-container {
      padding-top: 0;
  
      .p-button {
        height: 40px;
        width: 40px;
      }
    }
  }
}