// No styling button
// Only with text underline, and text-white
@import "../variables.scss";

.no-style-btn {
  .p-button {
    padding: 0 0;

    span {
      color: map-get($map: $app-theme, $key: "baseWhite");
    }

    .p-button-label {
      text-decoration: underline;
      font-weight: bold;
      letter-spacing: 0.7px;
      font-size: 17px;
    }
  }
}
