@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap");

.custom-main-dialog.p-dialog {
  background: #19181c;
  box-shadow: 0px 0px 10px map-get($map: $app-theme, $key: "baseDimDust");
  border-radius: 6px;

  hr {
    margin: 25px 0;
    color: map-get($map: $app-theme, $key: "baseDimDust");
    background-color: map-get($map: $app-theme, $key: "baseDimDust");
  }

  .form-control {
    background: rgba(196, 196, 196, 0.4) 0% 0% no-repeat padding-box;
    border: 2px solid rgba(255, 255, 255, 0.4);
    letter-spacing: 2.4px;
    color: map-get($map: $app-theme, $key: "baseLight");
    font-weight: 600;
    &:focus {
      border: none;
    }
  }
  .p-dialog-footer {
    .p-button:first-child {
      height: 45px;
      background: transparent;
      border: none;
      letter-spacing: 1.8px;
      color: map-get($map: $app-theme, $key: "baseLight");
      transition: 0.5s;
      border-radius: 0px;

      &:hover {
        color: map-get($map: $app-theme, $key: "primary");
      }
    }
    .p-button:last-child {
      height: 45px;
      background: transparent;
      border: 1px solid map-get($map: $app-theme, $key: "baseDimDust");
      letter-spacing: 1.8px;
      color: map-get($map: $app-theme, $key: "baseLight");
      transition: 0.5s;
      border-radius: 0px;
      padding: 0 1.5rem;

      &:hover {
        border: 1px solid map-get($map: $app-theme, $key: "primary");
        color: map-get($map: $app-theme, $key: "primary");
      }
    }

  }
  .p-dialog-header {
    background: #19181c;
    &-icon {
      border-radius: 50%;
      background-color: white;
      color: map-get($map: $app-theme, $key: "primaryDark");
    }
  }
  .p-dialog-title {
    font-size: 22px;
    letter-spacing: 1.2px;
    color: map-get($map: $app-theme, $key: "baseWhite");
    font-weight: 500;
  }
  .p-dialog-content {
    background: #19181c;
    color: map-get($map: $app-theme, $key: "baseWhite") !important;
    letter-spacing: 1.3px;
    font-size: 1.1rem;
    label {
      font-size: 18px;
    }
  }
  .p-dialog-footer {
    background: #19181c;
  }
}

@media only screen and (max-width: 500px) {
  .custom-main-dialog.p-dialog {
    .p-dialog-header {
      .p-dialog-title {
        font-size: 19px !important;
        letter-spacing: 1.4px;
      }
    }

    .p-dialog-content {
      font-size: 17px;

      label {
        font-size: 18px;
        letter-spacing: 1.4px;
      }
    }

    .p-dialog-footer {
      .p-button {
        letter-spacing: 2.0px;
        font-size: 16px !important;
        font-weight: 700;
        padding: 8px 12px;
      }
    }
  }
}