@import "../../variables.scss";

.export-cost-container {
  margin: 0 1rem;

  .btns-container {
    .export-btn-color {
      .p-button {
        background: map-get($map: $app-theme, $key: "secondaryDark");
        color: map-get($map: $app-theme, $key: "baseBlack");
      }
    }

    .cancel-btn-color {
      .p-button {
        background: map-get($map: $app-theme, $key: "secondaryDynamicDark");
        color: map-get($map: $app-theme, $key: "baseBlack");
      }
    }
  }

  .export-assistant {
    width: 40px;
    height: 43px;
    margin-right: 1rem;

    img {
      max-width:100%;
      max-height:100%;
    }
  }

  .export-helper {
    color: map-get($map: $app-theme, $key: "baseFormal");
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 43px;
  }
} 