@import "../../variables.scss";

/* ============= General Styling ======================= */
.VIN {
  .card {
    background: map-get($map: $app-theme, $key: "baseTransparentWhite") 0% 0% no-repeat padding-box;
    border-radius: 24px;
    opacity: 1;
    border: none;
    box-shadow: none !important;
    height: 48px;
    transition: all 0.5s ease;
    width: 90%;

    &:hover {
      width: 100%;
    }

    &.search-filled {
      width: 100%;
    }
  }

  .p-inputgroup {
    .p-component {
      .p-inputtext {
        border: none;
        background: map-get($map: $app-theme, $key: "baseTransparentWhiteLight") 0% 0% no-repeat padding-box;
        letter-spacing: 2.2px;
        color: map-get($map: $app-theme, $key: "baseFormal");
        opacity: 1;
        font: normal normal 400 22px/38px;
        height: 34px;
        min-width: 242px;
        padding: 0 0;
      }

      &::placeholder {
        color: map-get($map: $app-theme, $key: "baseFormal");
      }
    }

    .search-icon-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 0 1rem;
      color: map-get($map: $app-theme, $key: "baseFormal");

      .pi-search {
        font-size: 1.3rem;
      }
    }
  }
}

/* ============= Media Queries ======================= */
@media only screen and (max-width: 767px) {
  .VIN {
    margin: 0 1em;
    .card {
      width: 100%;
      height: 40px;
      padding: 0 !important;
      padding-left: 1em !important;
      margin: 0!important;

      .p-inputgroup {
        height: 40px;
      }
    }
    .search-input {
      font-size: 1.2em;
    }
    .p-inputtext {
      font-size: 1.2rem !important;
      height: 40px !important;
      font-size: 18px !important;
    }
    .search-icon-container {
      margin: 0 1rem 0 0 !important;
      .pi-search {
        font-size: 1rem !important;
      }
    }
  }
  .VIN-cont {
    margin: 0 -1em;
    padding: 0 1em;
    background: rgba(11, 24, 100, 0.2);
    backdrop-filter: blur(27px) brightness(0.6);
    -webkit-backdrop-filter: blur(27px) brightness(0.6);
    border-radius: 0px !important;
    position: relative;
  }
  @supports (-moz-appearance:none) {
    .VIN-cont::before {
      content: '';
      background: rgba(14,35,65,0.9);
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      filter: brightness(0.6);
      z-index: -1;
    }
  }
  
}
