@import "../../variables.scss";

.darkTable2 {
  //GLOBAL STYLING =========================================================
  background: rgb(0 0 0 / 45%) !important;
  border-radius: 5px;
  padding: 2rem 2rem 1rem 2rem;

  .p-component-overlay {
    background-color: transparent !important;
  }

  .p-datatable-wrapper {
    table {
      border-spacing: 10px 0;
      border-collapse: separate;
    }
  }

  // GLOBAL SEARCH =========================================================
  .p-datatable-header {
    background: none;
    border: none;
    padding: 0 0;

    .table-tools-header {
      display: flex;
      flex-direction: row;
      padding: 2rem 0.5rem;

      .p-input-icon-left {
        background: linear-gradient(
              to bottom,
              map-get($map: $app-theme, $key: "baseLightGrey") 2px,
              transparent 2px
            )
            0 0,
          linear-gradient(
              to bottom,
              map-get($map: $app-theme, $key: "baseLightGrey") 2px,
              transparent 2px
            )
            100% 0,
          linear-gradient(
              to top,
              map-get($map: $app-theme, $key: "baseLightGrey") 2px,
              transparent 2px
            )
            0 100%,
          linear-gradient(
              to top,
              map-get($map: $app-theme, $key: "baseLightGrey") 2px,
              transparent 2px
            )
            100% 100%;
        background-repeat: no-repeat;
        background-size: 4px;

        .pi-search {
          left: 1rem;
          width: 2rem;
        }
        .p-inputtext {
          background: transparent;
          border: 1px solid map-get($map: $app-theme, $key: "baseDimDust");
          border-radius: 0px;
          letter-spacing: 2.2px;
          color: map-get($map: $app-theme, $key: "baseFormal");
          padding-left: 3rem;
        }
      }

      .table-export-btn {
        .p-button {
          border: 1px solid map-get($map: $app-theme, $key: "baseDimDust");
          border-radius: 0px;
          background: transparent;
          text-transform: uppercase;
        }
      }
    }
  }

  .p-datatable-wrapper {
    // TABLE HEAEDER STYLES =========================================================
    .p-datatable-thead {
      // Table Headers
      tr:first-child {
        th {
          background: map-get($map: $app-theme, $key: "baseGrey");
          box-shadow: -4px 0 0 rgba(0, 0, 0, 0.2);
          background: linear-gradient(
            220deg,
            transparent 13px,
            map-get($map: $app-theme, $key: "baseGrey") 13px
          );
          text-decoration: none;
          font-weight: normal;
          padding: 0.5rem 0.7rem;

          &.p-selection-column {
            background: transparent;
          }

          &:first-child {
            .p-checkbox .p-checkbox-box {
              background: transparent;
              border: 1px solid white;
              border-radius: 0;

              &:hover {
                border: 1px solid white;
                background: transparent;
              }
            }
          }
        }
      }

      // Table Filters
      tr:nth-child(2) {
        th {
          background: transparent;
          border: none;

          .p-column-filter {
            width: 100% !important;
          }

          //CHECKBOX Styling
          .p-checkbox .p-checkbox-box {
            background: transparent;
            border: 1px solid white;
            border-radius: 0;
            &:hover {
              border: 1px solid white;
              background: transparent;
            }
          }

          // Filter Styling - Input Text
          .p-inputtext {
            background: transparent;
            border: 1px solid map-get($map: $app-theme, $key: "baseDimDust");
            border-radius: 0;
            letter-spacing: 1.4px;
            color: map-get($map: $app-theme, $key: "baseLightWhite");

            &::placeholder {
              /* Chrome, Firefox, Opera, Safari 10.1+ */
              color: map-get($map: $app-theme, $key: "baseDimDust");
            }

            &:hover,
            &:focus {
              border: 1px solid map-get($map: $app-theme, $key: "primaryElectric");
            }
          }

          // Filter Styling - Dropdown Selectiton
          .p-dropdown {
            background: transparent;
            border: 1px solid map-get($map: $app-theme, $key: "baseDimDust");
            border-radius: 0;

            .p-inputtext {
              border: none !important;
              &:hover,
              &:focus {
                border: none;
              }
            }

            .p-dropdown-label {
              &.p-placeholder {
                color: map-get($map: $app-theme, $key: "baseDimDust");
                text-align: left;
              }
            }

            .p-dropdown-trigger {
              .pi {
                color: map-get($map: $app-theme, $key: "baseLightWhite");
              }
            }

            &.p-focus {
              box-shadow: none;
            }

            &:hover,
            &:focus-within {
              border: 1px solid map-get($map: $app-theme, $key: "primaryElectric");
            }

            &:focus-visible {
              outline: none;
            }
          }

          // Filter Styling - Calendar
          .table-calendar {
            .p-calendar {
              .p-inputtext {
                border-right: 0;
              }

              .p-button {
                background: map-get($map: $app-theme, $key: "primaryButton");
                border: 1px solid map-get($map: $app-theme, $key: "primaryButton");
              }
            }
          }
        }
      }
    }

    //BODY AND RADIOBUTTON AND CHECKBOX =========================================================
    .p-datatable-tbody {
      //RADIOBUTTON STYLES =======================================
      .p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
        box-shadow: none !important;
      }
      .p-radiobutton-icon,
      .p-clickable {
        background: transparent;
      }
      .p-radiobutton .p-radiobutton-box {
        border: 1px solid white;
        border-radius: 0;
        &:hover {
          border: 1px solid white;
        }

        &.p-highlight {
          .p-radiobutton-icon {
            border-radius: 0;
            width: 10px;
            height: 10px;
            background: map-get($map: $app-theme, $key: "primary");
            box-shadow: 0px 0px 3px map-get($map: $app-theme, $key: "primary");
          }
        }
      }

      //CHECKBOX STYLES =======================================
      .p-checkbox .p-checkbox-box {
        border: 1px solid white;
        border-radius: 0;
        &:hover {
          border: 1px solid white;
          background: transparent;
        }
      }

      // TABLE ROW STYLING
      .p-highlight {
        .p-radiobutton .p-radiobutton-box {
          border: 2px solid white !important;
        }
        background: map-get($map: $app-theme, $key: "baseTransparentWhite");
        box-shadow: none !important;
        .p-radiobutton-icon {
          background: white;
          transition: all 0.3s ease;
        }
      }

      tr {
        background: transparent;

        &:hover {
          background: map-get($map: $app-theme, $key: "baseTransparentWhite") !important;
        }
        td {
          .p-column-title {
            display: none;
          }
          height: 70px;
          border-bottom: 1px solid map-get($map: $app-theme, $key: "baseTransparentWhite");
          text-align: center;
          letter-spacing: 1.8px;
          color: map-get($map: $app-theme, $key: "baseWhite");
          a {
            color: map-get($map: $app-theme, $key: "baseWhite");
          }
        }

        .p-inputtext {
          background: map-get($map: $app-theme, $key: "baseTransparentWhiteLight");
          border: 1px solid map-get($map: $app-theme, $key: "baseDimDust");
          border-radius: 0;
          color: map-get($map: $app-theme, $key: "baseFormal");
          letter-spacing: 1.2px;
        }
      }

      .p-body-template {
        word-wrap: break-word;
      }
    }
  }

  // FOOTER STYLES =========================================================
  .p-paginator-bottom {
    background: transparent;
    border: none;
    padding: 2.5rem 0 2rem 0;

    // Paginator first, pre, next, last Buttons
    .p-paginator-first,
    .p-paginator-last,
    .p-paginator-prev,
    .p-paginator-next {
      width: 39px;
      height: 39px;
      margin-top: 0px;
      margin-bottom: 0px;
      border: 1px solid map-get($map: $app-theme, $key: "baseTransparentWhite");
      border-radius: 0;
    }
    .p-paginator-first,
    .p-paginator-prev {
      margin-right: 1.5rem;
    }
    .p-paginator-last,
    .p-paginator-next {
      margin-left: 1.5rem;
    }

    .p-paginator-first,
    .p-paginator-next {
      background: linear-gradient(
            to bottom,
            map-get($map: $app-theme, $key: "baseDimDust") 1px,
            transparent 1px
          )
          0 0,
        linear-gradient(to top, map-get($map: $app-theme, $key: "baseDimDust") 1px, transparent 1px)
          0 100%;
      background-repeat: no-repeat;
      background-size: 5px;
    }

    .p-paginator-prev,
    .p-paginator-last {
      background: linear-gradient(
            to bottom,
            map-get($map: $app-theme, $key: "baseDimDust") 1px,
            transparent 1px
          )
          100% 0,
        linear-gradient(to top, map-get($map: $app-theme, $key: "baseDimDust") 1px, transparent 1px)
          100% 100%;
      background-repeat: no-repeat;
      background-size: 5px;
    }

    // Paginator page buttons
    .p-paginator-pages {
      border: 1px solid map-get($map: $app-theme, $key: "baseTransparentWhite");
      background: linear-gradient(
            to bottom,
            map-get($map: $app-theme, $key: "baseDimDust") 1px,
            transparent 1px
          )
          0 0,
        linear-gradient(
            to bottom,
            map-get($map: $app-theme, $key: "baseDimDust") 1px,
            transparent 1px
          )
          100% 0,
        linear-gradient(to top, map-get($map: $app-theme, $key: "baseDimDust") 1px, transparent 1px)
          0 100%,
        linear-gradient(to top, map-get($map: $app-theme, $key: "baseDimDust") 1px, transparent 1px)
          100% 100%;
      background-repeat: no-repeat;
      background-size: 5px;

      .p-paginator-element {
        &:hover {
          background: map-get($map: $app-theme, $key: "baseTransparentWhite");
          color: map-get($map: $app-theme, $key: "baseLight");
          border-radius: 0;
        }
      }

      .p-highlight {
        background: map-get($map: $app-theme, $key: "primaryButton");
        color: map-get($map: $app-theme, $key: "baseLight");
        border-radius: 0;
        &:hover {
          background: map-get($map: $app-theme, $key: "primaryButton");
        }
      }
    }
  }
}

// TABLE FILTER DROPDOWN STYLING ======================================================
.table-filter-dropdown {
  &.p-dropdown-panel {
    background: map-get($map: $app-theme, $key: "baseGrey");
    box-shadow: 0px 0px 7px map-get($map: $app-theme, $key: "baseLightWhite") !important;
    .p-dropdown-header {
      background: map-get($map: $app-theme, $key: "baseGrey");
      .p-dropdown-filter-container {
        .p-inputtext {
          background: map-get($map: $app-theme, $key: "baseTransparentWhite") 0% 0% no-repeat
            padding-box;
          border: 1px solid map-get($map: $app-theme, $key: "baseTransparentWhite");
          color: map-get($map: $app-theme, $key: "baseWhite");
          font-weight: bold;
          letter-spacing: 1.5px;

          &:hover {
            border: 1px solid map-get($map: $app-theme, $key: "primaryElectric");
          }
        }
      }
    }

    .p-dropdown-items-wrapper {
      .p-dropdown-items {
        .p-dropdown-item {
          letter-spacing: 2px;
          color: map-get($map: $app-theme, $key: "baseLightWhite");

          &.p-highlight,
          &:hover {
            background: map-get($map: $app-theme, $key: "primaryButton") 0% 0% no-repeat padding-box !important;
            color: map-get($map: $app-theme, $key: "baseWhite") !important;
          }
        }

        .p-dropdown-empty-message {
          color: map-get($map: $app-theme, $key: "baseLightWhite") !important;
          font-weight: bold;
          letter-spacing: 1.5px;
        }
      }
    }
  }
}

// CALENDAR FILTER (YEAR, MONTH) DROPDOWN STYLING ======================================================
.table-cal-dropdown {
  &.p-dropdown-panel {
    background: map-get($map: $app-theme, $key: "primary") 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 7px map-get($map: $app-theme, $key: "primaryElectric") !important;

    .p-dropdown-items-wrapper {
      .p-dropdown-items {
        .p-dropdown-item {
          letter-spacing: 2px;
          color: map-get($map: $app-theme, $key: "baseLightWhite");

          &.p-highlight,
          &:hover {
            background: map-get($map: $app-theme, $key: "primaryButton") 0% 0% no-repeat padding-box !important;
            color: map-get($map: $app-theme, $key: "baseWhite") !important;
          }
        }
      }
    }
  }
}

// MOBILE STYLING ======================================================

.darkTable2-mobile {
  background: transparent !important;
  padding-top: 0;
  padding: 0 10px 1rem 10px;

  .p-tabview-panels {
    background: transparent;
  }

  // Global Filter Styling
  .p-datatable-header {
    .table-tools-header {
      padding: 0 0;
    }
  }

  // Table Body Styling
  .p-datatable-wrapper {
    table {
      border-spacing: 0 0;
      border-collapse: separate;
    }

    .p-datatable-thead {
      tr {
        th {
          display: none !important;
        }
      }
    }

    .p-datatable-tbody {
      .p-selection-column {
        display: none !important;
      }
      tr {
        position: relative;
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
        margin: 1rem 0;
        padding: 0.8rem 0.5rem;
        background: map-get($map: $app-theme, $key: "baseBlackTransparent");
        border-radius: 3px;
        border: 1px solid map-get($map: $app-theme, $key: "primaryElectric");

        &:hover {
          background: map-get($map: $app-theme, $key: "baseBlackTransparent") !important;
          box-shadow: 0px 0px 25px map-get($map: $app-theme, $key: "primaryElectric") !important;
        }

        .p-highlight {
          background: map-get($map: $app-theme, $key: "primaryDark") !important;
        }

        .p-selection-column {
          display: none !important;
        }

        td {
          height: unset;
          display: flex;
          align-items: center;
          width: 100%;
          font-size: 1.2rem;
          border: none !important;
          padding: 0.5rem 1rem !important;
          letter-spacing: 1px;

          .p-column-title {
            width: 50%;
            display: inline-block;
            text-align: left;
            font-weight: normal;
          }

          .p-body-template {
            width: 50%;
            display: inline-block;
            text-align: end;
          }
        }

        .detailview-indicator {
          padding: 0px;

          .detailview-button {
            width: 100%;
            text-align: center;
            background-color: map-get($map: $app-theme, $key: "baseNight") !important;
            border: none;
            padding: 0.7rem 1rem;
          }
        }

        &.null {
          .detailview-indicator {
            display: none;
          }
        }
      }
    }
  }

  .p-paginator-bottom {
    padding: 1rem 0;

    .p-paginator-prev,
    .p-paginator-next {
      display: none;
    }

    .p-paginator-first {
      margin-right: 2.5rem;
    }

    .p-paginator-last {
      margin-left: 2.5rem;
    }
  }
}
