@import "../variables.scss";

.asset-log-timeline {
  .customized-timeline {
    .p-timeline-event {
      .p-timeline-event-opposite {
        line-height: 1;
        flex: 0;
      }

      .p-timeline-event-separator {
        .custom-marker {
          display: flex;
          width: 54px;
          height: 54px;
          align-items: center;
          justify-content: center;
          color: #ffffff;
          border-radius: 50%;
          z-index: 1;

          .pi {
            font-size: 1.5rem;
          }
        }

        .p-timeline-event-connector {
          width: 2px;
          background-color: #FD7A22;
        }
      }

      .p-timeline-event-content {
        line-height: 1;

        .timeline-content-card {
          .card {
            padding: 1rem 1rem;
          }
          .title {
            color: #ffffff;
            font-size: 22px;
            font-weight: 500;
            letter-spacing: 1.4px;
          }
          .subtitle {
            color: #C4C4C4;
            font-size: 14px;
            letter-spacing: 1.4px;
            margin-bottom: 1.2rem;
          }
          .message {
            color: #ffffff;
            font-size: 17px;
            font-weight: 400;
            letter-spacing: 1.4px;
            line-height: 1.3;

            .clickable-id {
              color: map-get($map: $app-theme, $key: "primaryElectricDark");
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .no-event {
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 3.6px;
  }
}

@media screen and (max-width: 600px) {
  .asset-log-timeline {
    .customized-timeline {
      .p-timeline-event {
        .p-timeline-event-opposite {
          padding: 0 0.5rem !important;
        }

        .p-timeline-event-separator {
          .custom-marker {
            width: 45px;
            height: 45px;
  
            .pi {
              font-size: 1rem;
            }
          }
        }
  
        .p-timeline-event-content {
          margin: 0 1rem !important;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .asset-log-timeline {
    .customized-timeline {
      .p-timeline-event {
        .p-timeline-event-opposite {
          padding: 0 0.3rem !important;
        }

        .p-timeline-event-separator {
          .custom-marker {
            width: 35px;
            height: 35px;

          }
        }
  
        .p-timeline-event-content {
          margin: 0 0 !important;

          .timeline-content-card {
            .card {
              padding: 0.7rem 0.7rem;
            }
            .title {
              font-size: 21px;
              letter-spacing: 2.2px;
            }
            .subtitle {
              font-size: 16px;
              letter-spacing: 0.9px;
              margin-bottom: 0.8rem;
              line-height: 20px;
            }
            .message {
              font-size: 18px;
              letter-spacing: 1.8px;
              line-height: 22px;
            }
          }
        }
      }
    }
  }
}