@import "../variables.scss";

.custom-multi-select {
  .p-multiselect {
    color: white;
    width: 100%;
    background: map-get($map: $app-theme, $key: "baseTransparentWhite") 0% 0% no-repeat padding-box !important;
    border: 2px solid map-get($map: $app-theme, $key: "baseTransparentWhite") !important;
    height: 45px;
    font-size: 18px;
    letter-spacing: 0.8px;

    &.left-status {
      border-left: 4px solid map-get($map: $app-theme, $key: "primaryElectricDark") !important;

      &.p-inputwrapper-filled {
        border-left: 4px solid map-get($map: $app-theme, $key: "secondaryTechno") !important;
      }
    }

    .p-multiselect-trigger {
      span {
        &.pi-chevron-down {
          font-size: 1.5rem;
          transform: rotate(0deg);
          transition: all 0.5s ease;
          position: relative;
        }
      }
      transition: all 1s ease;
    }

    &.focused {
      .p-multiselect-trigger {
        span {
          &.pi-chevron-down {
            font-size: 1.5rem;
            transform: rotate(0deg);
            transition: all 0.5s ease;
            position: relative;
            transform: rotate(180deg) !important;
          }
        }
        transition: all 1s ease;
      }
    }

    &.activated-icon {
      .p-multiselect-trigger {
        span {
          &.pi-chevron-down {
            color: map-get($map: $app-theme, $key: "secondaryTechno") !important;
          }
        }
      }
    }

    &:not(.p-disabled) {
      &.p-focus {
        box-shadow: none !important;
      }
    }
  }

  :focus-visible {
    outline: none !important;
  }
}

/* Dropdown style*/
.custom-multi-dropdown {
  box-shadow: 0px 0px 9px map-get($map: $app-theme, $key: "primaryElectricDark") !important;

  .p-multiselect-header {
    background: map-get($map: $app-theme, $key: "baseNight");

    .p-multiselect-filter-container {
      .p-inputtext {
        background: map-get($map: $app-theme, $key: "baseTransparentWhite");
        color: map-get($map: $app-theme, $key: "baseWhite");
      }
    }
    .p-checkbox {
      .p-checkbox-box {
        background: map-get($map: $app-theme, $key: "baseTransparentWhite");

        &.p-focus {
          box-shadow: none;
        }
      }
    }
  }

  .p-multiselect-items-wrapper {
    .p-multiselect-items {
      padding: 0 0;

      .p-multiselect-item {
        background: map-get($map: $app-theme, $key: "baseNight");
        font-size: 18px;
        letter-spacing: 0.9px;
        color: map-get($map: $app-theme, $key: "baseLightGrey");

        &:hover {
          background: map-get($map: $app-theme, $key: "primaryFaded") !important;
          color: map-get($map: $app-theme, $key: "baseWhite") !important;
        }

        &.p-highlight {
          color: map-get($map: $app-theme, $key: "baseWhite");
          font-weight: bold;
        }

        .p-checkbox {
          .p-checkbox-box {
            background: map-get($map: $app-theme, $key: "baseTransparentWhite");
    
            &.p-focus {
              box-shadow: none;
            }

            &.p-highlight {
              border: 1px solid map-get($map: $app-theme, $key: "tertiaryTangy");
            }
          }
        }
      }
    }
  }

  .p-multiselect-footer {
    background: map-get($map: $app-theme, $key: "baseNight");
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    .text {
      color: map-get($map: $app-theme, $key: "baseWhite");
    }
  }
}

@media screen and (orientation: landscape) {
  .custom-multi-select {
    min-width: 20rem;
  }
}

@media screen and (max-width: 769px) {
  .custom-multi-select {
    .p-multiselect {
      font-weight: 600;
      font-size: 13px;
      height: unset;
    }
  }
}