@import "../variables.scss";

.infoCard {
  background-color: map-get($map: $app-theme, $key: "baseBlackTransparent");
  position: relative;
  border-radius: 5px;
  clip-path: polygon(100% 0, 100% 75%, 80% 100%, 0 100%, 0 0);

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 40%;
    background-color: map-get($map: $app-theme, $key: "baseBlackTransparent");
    height: 3px;
  }

  .infoCard-inner {
    background: map-get($map: $app-theme, $key: "baseBlackTransparent");
    transform: translateY(-2px);
    border-radius: 5px;
    height: 100%;
    width: 100%;
    clip-path: polygon(100% 0, 100% 75%, 80% 100%, 0 100%, 0 0);
    padding-bottom: 15px;
  }
}