@import "../variables.scss";

.table-loader-container {
  background: map-get($map: $app-theme, $key: "baseBlackTransparent");

  .table-preloader {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .loading-line {
      display: flex;
      flex-direction: row;
      justify-content: center;

      @keyframes opacity-loading { 
        0% { 
          opacity: 1;
          height: 20px;
        }
        50% { 
          opacity: 0;
          height: 17px;
        }
        100% { 
          opacity: 1;
          height: 20px;
        }  
      }
  
      .line {
        width: 1px;
        height: 20px;
        background: #fff;
        margin: 0 5px;
        display: inline-block;
        animation: opacity-loading 1000ms infinite ease-in-out;
      }
  
      .line-1 {
        animation-delay: 800ms;
      }
      .line-2 {
        animation-delay: 600ms;
      }
      .line-3 {
        animation-delay: 400ms;
      }
      .line-4 {
        animation-delay: 200ms;
      }
      .line-6 {
        animation-delay: 200ms;
      }
      .line-7 {
        animation-delay: 400ms;
      }
      .line-8 {
        animation-delay: 600ms;
      }
      .line-9 {
        animation-delay: 800ms;
      }
    }

    .loading-text {
      color: #fff;
      margin: 5px 0;
      text-transform: uppercase;
      text-align: center;
      font-size: 18px;
      letter-spacing: 3px;
    }
  }
}