@import "../variables.scss";

.request-progress {
  display: flex;
  flex-grow: 1;

  &-horizontal {
    flex-direction: row;

    .progress-event {
      display: flex;
      flex-direction: column;
      position: relative;
      flex: 1 1;

      &-robot {
        img {
          width: 95px;
          object-fit: contain;
        }
      }

      &-content {
        letter-spacing: 1.4px;
        font-weight: bold;
        font-size: 17px;
        height: 70px;
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;

        .title {
          color: map-get($map: $app-theme, $key: "baseFormal");
          font-weight: bold;
          font-size: 17px;
          position: absolute;
          bottom: 5px;
          margin-left: 5px;
        }

        &.content-active {
          .title {
            color: map-get($map: $app-theme, $key: "baseWhite");
            position: unset;
          }

          .details {
            color: map-get($map: $app-theme, $key: "baseWhite");
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.8px;
            line-height: 14px;
            margin: 4px 5px 15px 5px;
          }
        }
      }

      &-separator {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 35px;

        .marker {
          width: 18px;
          height: 18px;
          border-radius: 50%;
          background-color: map-get($map: $app-theme, $key: "baseFormal");
          border: 2px solid map-get($map: $app-theme, $key: "baseFormal");

          &.marker-active {
            border: 2px solid map-get($map: $app-theme, $key: "primaryElectric") !important;
            background-color: map-get($map: $app-theme, $key: "primaryElectric") !important;
          }

          &.marker-grow {
            width: 35px;
            height: 35px;
            border: 2px solid map-get($map: $app-theme, $key: "primaryElectric") !important;
            background-color: map-get($map: $app-theme, $key: "primaryElectric") !important;
            box-shadow: 0px 0px 10pt map-get($map: $app-theme, $key: "primaryElectric");
          }
        }

        .connector {
          height: 3px;
          width: 100%;
          background-color: map-get($map: $app-theme, $key: "baseFormal");
          flex-grow: 1;

          &.connector-active {
            background-color: map-get($map: $app-theme, $key: "primaryElectric");
          }
        }
      }
  
    }
  }

  &-vertical {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 85%;
    margin: 0 auto;
    
    .progress-event {
      display: flex;
      flex-direction: row-reverse;
      min-height: 100px;

      &.connector-extend {
        height: 150px;
      }

      &-robot {
        img {
          width: 95px;
          object-fit: contain;
        }
      }

      &-content {
        letter-spacing: 1.4px;
        margin-left: 1rem;
        margin-top: -1px;
        width: 120px;

        .title {
          color: map-get($map: $app-theme, $key: "baseFormal");
          font-weight: 600;
          font-size: 19px;
        }

        &.content-active {
          .title {
            color: map-get($map: $app-theme, $key: "baseWhite");
          }

          .details {
            color: map-get($map: $app-theme, $key: "baseWhite");
            font-weight: 300;
            font-size: 16px;
            letter-spacing: 0.6px;
            line-height: 16px;
            margin-top: 4px;
          }
        }
      }

      &-separator {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35.5px;

        .marker {
          width: 23.5px;
          height: 23px;
          border-radius: 50%;
          background-color: map-get($map: $app-theme, $key: "baseFormal");
          border: 2px solid map-get($map: $app-theme, $key: "baseFormal");

          &.marker-active {
            border: 2px solid map-get($map: $app-theme, $key: "primaryElectric") !important;
            background-color: map-get($map: $app-theme, $key: "primaryElectric") !important;
          }

          &.marker-grow {
            width: 35.5px;
            height: 35px;
            border: 2px solid map-get($map: $app-theme, $key: "primaryElectric") !important;
            background-color: map-get($map: $app-theme, $key: "primaryElectric") !important;
            box-shadow: 0px 0px 10pt map-get($map: $app-theme, $key: "primaryElectric");
          }
        }

        .connector {
          width: 2px;
          background-color: map-get($map: $app-theme, $key: "baseFormal");
          flex-grow: 1;

          &.connector-active {
            background-color: map-get($map: $app-theme, $key: "primaryElectric");
          }
        }
      }
  
      &:last-child {
        flex: 0;
      }
    }
  }
}