@import "../variables.scss";

.custom-warning-msg {
  .p-message.p-message-warn {
    background: map-get($map: $app-theme, $key: "secondaryDynamicShade") 0% 0% no-repeat padding-box;
    backdrop-filter: blur(22px);
    -webkit-backdrop-filter: blur(22px);
    box-shadow: 0px 13px 25px map-get($map: $app-theme, $key: "secondaryDynamic")26;
    color: white;
    border-left: 4px solid map-get($map: $app-theme, $key: "secondaryDynamic");
    .p-message-icon {
      color: white;
    }
    .p-message-summary {
      color: white;
      letter-spacing: 1.2px;
    }
  }
}

@media screen and (max-width: 500px) {
  .custom-warning-msg {
    .p-message {
      .p-message-wrapper {
        padding: 0.8rem 1rem;
        .p-message-summary {
          font-size: 18px;
          letter-spacing: 0.9px;
        }
      }
    }
  }
  
}
