@import "../../variables.scss";

.forecast-mobile {
  .panel-header {
    .heading {
      letter-spacing: 1.7px;
    }
  }

  .main-tab {
    .sub-tabpanel-btns {
      margin: 2rem 2rem;
  
      .p-button {
        width: 100%;
        margin: 1rem 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: map-get($map: $app-theme, $key: "primaryDark");
        border: 1px solid map-get($map: $app-theme, $key: "primaryDark");
  
        &:hover {
          background: map-get($map: $app-theme, $key: "primaryDark");
          border: 1px solid map-get($map: $app-theme, $key: "primaryDark");
        }
  
        .p-button-icon {
          &.pi{
            font-size: 1.5rem;
          }
          size: 18px;
        }
  
        .p-button-label {
          flex: none;
          color: map-get($map: $app-theme, $key: "baseWhite");
          letter-spacing: 2.7px;
          font-size: 18px;
          font-weight: bold;
        }
      }
    }
  }
}