@import "../../variables.scss";

.maintenance-rule-mobile {
  .header-search {
    margin: -0.02rem -2rem 0 -2rem;
    padding: 0.02rem 2.5rem 0.5rem 2.5rem;

    .title-hint {
      h5 {
        margin-top: 0.5rem;
        letter-spacing: 0.7px;
        color: map-get($map: $app-theme, $key: "baseLight");
        font-size: 14px;
        text-align: center;
      }
    }
  }

  .add-rule-btn {
    width: 90%;
    .p-component {
      width: 100%;
    }
  }

  hr {
    width: 90%;
    margin: 8px 0 !important;
    color: map-get($map: $app-theme, $key: "baseDimDust");
    background-color: map-get($map: $app-theme, $key: "baseDimDust");
  }

  .add-rule-dialog {
    .form-title {
      h5 {
        color: map-get($map: $app-theme, $key: "baseWhite");
      }
      h6 {
        color: map-get($map: $app-theme, $key: "baseFormal");
      }
    }

    .card {
      padding: 1rem;
      .form-group {
        margin-bottom: 0;
      }
    }

    .apply-similar {
      color: map-get($map: $app-theme, $key: "baseFormal");
      .p-checkbox {
        .p-checkbox-box {
          background: transparent;

          &.p-focus {
            box-shadow: none;
            border-color: #ced4da;
          }

          &.p-highlight {
            border-color: #ced4da;
          }
        }
      }

      .apply-text {
        color: #ffffff;
        letter-spacing: 1.5px;
        margin-left: 0.7rem;
        font-size: 16px;
      }
    }
  }
}